[Desktop Entry]
Encoding=UTF-8
Name=Link to Download
Type=Link
URL=https://mail.google.com/mail/?ui=2&ik=c1ce2e13dc&view=att&th=13f307ff7aa64958&attid=0.1&disp=safe&realattid=f_hhsbdg4s1&zw
Icon=text-html
